<div class="wrapper skin-blue">
  <aside class="right-side strech">
    <section class="content-header">
      <h1>
        Settings
        <small>Mail Server</small>
      </h1>
      <ol class="breadcrumb">
        <li>{{#link-to "application"}}<i class="fa fa-dashboard"></i> Home{{/link-to}}</li>
        <li>{{#link-to "settings"}}Settings{{/link-to}}</li>
        <li class="active">Mail Server</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          {{partial "settings/-navigation"}}
        </div>
        <div class="col-md-9">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Configure Mail Server</h3>
            </div>
            <form {{action "save" on="submit"}} class="form-horizontal" role="form">
              <div class="box-body">
                <div class="form-group">
                  <label for="mail-hostname" class="col-sm-2 control-label">Hostname</label>
                  <div class="col-sm-10">
                    {{input type="text" id="mail-hostname" class="form-control" value=hostname placeholder="IP address or hostname" autofocus="autofocus"}}
                  </div>
                </div>
                <div class="form-group">
                  <label for="mail-port" class="col-sm-2 control-label">Port</label>
                  <div class="col-sm-10">
                    {{input id="mail-port" class="form-control" value=port placeholder="Port"}}
                  </div>
                </div>
                <div class="form-group">
                  <label for="mail-username" class="col-sm-2 control-label">Username</label>
                  <div class="col-sm-10">
                    {{input id="mail-username" class="form-control" value=username placeholder="Username"}}
                  </div>
                </div>
                <div class="form-group">
                  <label for="mail-password" class="col-sm-2 control-label">Password</label>
                  <div class="col-sm-10">
                    {{input type="password" id="mail-password" class="form-control" value=password placeholder="Password"}}
                  </div>
                </div>
                <div class="form-group">
                  <label for="mail-email" class="col-sm-2 control-label">
                    Email
                    <span class="hint--top" data-hint="The &quot;From:&quot; address as sent to recipients from the mail server">
                      <a class="has-tooltip"><i class="fa fa-question-circle"></i></a>
                    </span>
                  </label>
                  <div class="col-sm-10">
                    {{input id="mail-email" class="form-control" value=sender_email placeholder="Email address"}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">
                    Test
                    <span class="hint--top" data-hint="Send a test email to the email address listed above">
                      <a class="has-tooltip"><i class="fa fa-question-circle"></i></a>
                    </span>
                  </label>
                  <div class="col-sm-10">
                    {{#unless isTestEmailActionPending}}
                      <button class="btn btn-primary" type="button" {{action "testEmail"}}>Send Test Email</button>
                    {{else}}
                      <a class="btn btn-primary" disabled="disabled"><i class="icon-spinner icon-spin"></i> Sending Test Email...</a>
                    {{/unless}}
                  </div>
                </div>
              </div>
              <div class="box-footer clearfix">
                <div class="pull-right">
                  {{#unless isActionPending}}
                    <a class="btn btn-default" type="button" {{action "cancel"}}>Cancel</a>
                    <input class="btn btn-primary" type="submit" value="Save" {{action "save"}}></input>
                  {{else}}
                    <a class="btn btn-primary disabled"><i class="icon-spinner icon-spin"></i> Saving...</a>
                  {{/unless}}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </aside>
</div>
