<div class="box box-primary">
  <div class="box-header">
    <i class="fa fa-cloud"></i>
    <h3 class="box-title">Clouds</h3>
    <div class="pull-right box-tools">
      <div class="btn-group">
        <button class="btn pull-right btn-primary btn-sm" {{action "goToClouds"}}>Manage Clouds</button>
      </div>
    </div>
  </div>
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
        <th>Cluster</th>
        <th>Status</th>
        <th>SAA Controllers</th>
      </thead>
      <tbody>
        {{#each controllers.clusters}}
          <tr>
            <td>{{name}}</td>
            <td>{{status}}</td>
            <td>
              {{#if ipms}}
                {{#each ipm in ipms}}
                  {{ipm.name}}
                {{/each}}
              {{else}}
                Not assigned
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
