<header class="header skin-blue">
  <div class="brand logo">
    <img id="logo-company" src="assets/images/logo-intel-white.svg" alt="Intel">
    DCM: SAA
  </div>
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        {{!--
        <li>{{#link-to "app.dashboard"}}<i class="fa fa-dashboard"></i> Dashboard{{/link-to}}</li>
        --}}
        <li><a {{action "goToInfrastructure"}} {{bind-attr class="isInfrastructure:active"}} href="#/app/control-panel"><i class="fa fa-desktop"></i> Infrastructure</a></li>
        <li><a {{action "goToClouds"}} {{bind-attr class="isClouds:active"}} href="#/app/control-panel"><i class="fa fa-cloud"></i> Clouds</a></li>
        <li>{{#link-to "orchestration"}}<i class="fa fa-music"></i> Orchestration{{/link-to}}</li>
        <li class="dropdown">
          <a {{action "goToIngredient" "dashboard"}} href><i class="fa fa-shield"></i> SAAappliance</a>
          <ul class="dropdown-menu">
            <li><a {{action "goToIngredient" "dashboard"}} href>Dashboard</a></li>
            <li><a {{action "goToIngredient" "nodes"}} href>Nodes</a></li>
            <li><a {{action "goToIngredient" "vms"}} href>VMs</a></li>
            <li><a {{action "goToIngredient" "services"}} href>Services</a></li>
            <li><a {{action "goToIngredient" "trust"}} href>Trust</a></li>
            <li><a {{action "goToIngredient" "settings"}} href>Settings</a></li>
          </ul>
        </li>
        <li>{{#link-to "app.horizon"}}<i class="fa fa-cubes"></i> Horizon{{/link-to}}</li>
        <li>{{#link-to "logs"}}<i class="fa fa-file-text-o"></i> Logs{{/link-to}}</li>
        {{#if isLoggedIn}}
          <li class="user-menu dropdown">
            <a data-toggle="dropdown">
              <i class="fa fa-user"></i>
              <span>{{username}} <i class="caret"></i></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header bg-light-blue">
                <span class="avatar img-circle"><i class="fa fa-user fa-4"></i></span>
                <p>{{username}}</p>
              </li>
              <li class="user-footer">
                <div class="pull-right">
                  <a {{action "logout"}} class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        {{else}}
          <li>{{#link-to "login"}}<i class="fa fa-user"></i> Sign in{{/link-to}}</li>
        {{/if}}
        <li>{{#link-to "about"}}<i class="fa fa-info-circle"></i> {{/link-to}}</li>
      </ul>
    </div>
  </nav>
</header>
