<header class="header skin-blue">
  <div class="brand logo">
    <img id="logo-company" src="assets/images/logo-intel-white.svg" alt="Intel">
    DCM: SAA
  </div>
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        {{#unless isLoggedIn}}
          <li>{{#link-to "login"}}<i class="fa fa-user"></i> Sign in{{/link-to}}</li>
        {{else}}
          {{!--
          <li>{{#link-to "app.dashboard"}}<i class="fa fa-dashboard"></i> Dashboard{{/link-to}}</li>
          --}}
          <li><a {{action "goToInfrastructure"}} {{bind-attr class="isInfrastructure:active"}} href="#/app/control-panel"><i class="fa fa-desktop"></i> Infrastructure</a></li>
          <li><a {{action "goToClouds"}} {{bind-attr class="isClouds:active"}} href="#/app/control-panel"><i class="fa fa-cloud"></i> Clouds</a></li>
          <li>{{#link-to "app.orchestration"}}<i class="fa fa-music"></i> Orchestration{{/link-to}}</li>
          <li class="dropdown">
            <a {{action "goToIngredient" "dashboard"}} href="#/app/ingredient"><i class="fa fa-shield"></i> Assurance</a>
            <ul class="dropdown-menu">
              <li><a {{action "goToIngredient" "dashboard"}}>Dashboard</a></li>
              <li><a {{action "goToIngredient" "nodes"}}>Nodes</a></li>
              <li><a {{action "goToIngredient" "vms"}}>VMs</a></li>
              <li><a {{action "goToIngredient" "services"}}>Services</a></li>
              <li><a {{action "goToIngredient" "trust"}}>Trust</a></li>
              <li><a {{action "goToIngredient" "settings"}}>Settings</a></li>
            </ul>
          </li>
          <li>{{#link-to "app.horizon"}}<i class="fa fa-cubes"></i> Horizon{{/link-to}}</li>
          <li>{{#link-to "app.logs"}}<i class="fa fa-file-text-o"></i> Logs{{/link-to}}</li>
          <li class="user-menu dropdown">
            <a data-toggle="dropdown">
              <i class="fa fa-user"></i>
              <span>{{username}} <i class="caret"></i></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header bg-light-blue">
                <span class="avatar img-circle"><i class="fa fa-user fa-4"></i></span>
                <p>{{username}}</p>
              </li>
              <li class="user-footer">
                <div class="pull-right">
                  <a {{action "logout"}} class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <li>{{#link-to "app.about"}}<i class="fa fa-info-circle"></i> {{/link-to}}</li>
        {{/unless}}
      </ul>
    </div>
  </nav>
</header>
