<header class="header skin-blue">
  <div class="brand logo">
    <img id="logo-company" src="assets/images/logo-intel-white.svg" alt="Intel">
    DCM: SAA
  </div>
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li>{{#link-to "app.dashboard"}}<i class="fa fa-dashboard"></i> Dashboard{{/link-to}}</li>
        <li><a {{action "goToInfrastructure"}} {{bind-attr class="isInfrastructure:active"}}><i class="fa fa-desktop"></i> Infrastructure</a></li>
        <li><a {{action "goToClouds"}} {{bind-attr class="isClouds:active"}}><i class="fa fa-cloud"></i> Clouds</a></li>
        <li>{{#link-to "orchestration"}}<i class="fa fa-music"></i> Orchestration{{/link-to}}</li>
        <li>{{#link-to "saa-appliance"}}<i class="fa fa-bar-chart-o"></i> SAAappliance{{/link-to}}</li>
        <li>{{#link-to "logs"}}<i class="fa fa-file-text-o"></i> Logs{{/link-to}}</li>
        {{#if isLoggedIn}}
          <li class="user-menu">
            <a data-toggle="dropdown">
              <i class="fa fa-user"></i>
              <span>{{username}} <i class="caret"></i></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header bg-light-blue">
                <span class="avatar img-circle"><i class="fa fa-user fa-4"></i></span>
                <p>{{username}}</p>
              </li>
              <li class="user-footer">
                <div class="pull-right">
                  <a {{action "logout"}} class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        {{else}}
          <li>{{#link-to "login"}}<i class="fa fa-user"></i> Sign in{{/link-to}}</li>
        {{/if}}
        <li>{{#link-to "about"}}<i class="fa fa-info-circle"></i> {{/link-to}}</li>
      </ul>
    </div>
  </nav>
</header>
