<div class="box box-primary">
  <div class="box-header">
    <i class="fa fa-cloud"></i>
    <h3 class="box-title"><abbr title="Intel&reg; Datacenter Manager: Service Assurance Administrator">SAA</abbr> Controllers</h3>
  </div>
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
        <th>Name</th>
        <th>Status</th>
        <th>Cluster</th>
        <th>Actions</th>
      </thead>
      <tbody>
        {{#each ipm in controller}}
          <tr>
            <td>{{name}}</td>
            <td>{{statusMessage}}</td>
            <td>
              {{#if cluster}}
                {{cluster.name}}
              {{else}}
                Not attached
              {{/if}}
            </td>
            <td>
              {{#if cluster}}
                {{#if ipm.isActionDisabled}}
                  <button type="button" class="btn btn-sm btn-primary" disabled="disabled">Detach from cluster</button>
                {{else}}
                  <button {{action "detach" ipm}} type="button" class="btn btn-sm btn-primary">Detach from cluster</button>
                {{/if}}
              {{else}}
                {{#if ipm.isActionDisabled}}
                  <button type="button" class="btn btn-sm btn-primary" disabled="disabled">Attach to cluster</button>
                {{else}}
                  {{#if controllers.clusters.hasMultipleClusters}}
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-primary" data-toggle="dropdown">Attach to:</button>
                      <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu pull-right" role="menu">
                        {{#each cluster in controllers.clusters}}
                          <li><a href {{action "attach" ipm cluster}}>{{cluster.name}}</a></li>
                        {{/each}}
                      </ul>
                    </div>
                  {{else}}
                    <button {{action "attach" ipm}} type="button" class="btn btn-sm btn-primary">Attach to cluster</button>
                  {{/if}}
                {{/if}}
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
