<div class="box box-primary">
  <div class="box-header">
    <i class="fa fa-cloud"></i>
    <h3 class="box-title">IPMs</h3>
  </div>
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
        <th>IPM Name</th>
        <th>IPM Status</th>
        <th>Cluster</th>
        <th>Actions</th>
      </thead>
      <tbody>
        {{#each}}
          <tr>
            <td>{{name}}</td>
            <td>{{statusMessage}}</td>
            <td>
              {{#if cluster}}
                {{cluster.name}}
              {{else}}
                Not assigned
              {{/if}}
            </td>
            <td>
              {{#if cluster}}
                {{#unless isActionDisabled}}
                  <button {{action "unassign" this}} type="button" class="btn btn-sm btn-primary">Detach from Cluster</button>
                {{else}}
                  <button type="button" class="btn btn-sm btn-primary" disabled="disabled">Detach from Cluster</button>
                {{/unless}}
              {{else}}
                {{#unless isActionDisabled}}
                  <button {{action "assign" this}} type="button" class="btn btn-sm btn-primary">Attach to Cluster</button>
                {{else}}
                  <button type="button" class="btn btn-sm btn-primary" disabled="disabled">Attach to Cluster</button>
                {{/unless}}
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
