<div class="box box-success">
  <div class="box-header">
    <i class="fa fa-desktop"></i>
    <h3 class="box-title">Virtual Machines (Services)</h3>
  </div>
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Version</th>
          <th>Status</th>
          <th>API</th>
          <th class="actions-column show-when-expanded">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each}}
          <tr>
            <td>{{#link-to route}}{{name}}{{/link-to}}</td>
            <td>{{version}}</td>
            <td>{{stateDescription}}</td>
            <td>{{respondingMessage}}</td>
            {{#with this as contextVm}}
              <td class="actions-column show-when-expanded" {{bind-attr title="contextVm.firstAction.isDisabledMessage"}}>
                <div class="btn-group">
                  {{#if contextVm.firstAction.method}}
                    {{#if contextVm.firstAction.isDisabled}}
                      <button type="button" class="btn btn-sm btn-success disabled">{{contextVm.firstAction.name}}</button>
                    {{else}}
                      <button {{action "performAction" contextVm.firstAction.method}} type="button" class="btn btn-sm btn-success">{{contextVm.firstAction.name}}
                      </button>
                    {{/if}}
                  {{/if}}
                  
                  {{#if actionsAreAvailable}}
                    <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                  {{/if}}

                  <ul class="dropdown-menu">
                    {{#each contextVm.vmActions}} 
                      {{#unless isFirstAction}}
                        {{#if isVisible}}
                          <li {{bind-attr class="isDisabled:disabled"}}>
                            {{#if isDisabled}}
                              <a class="disabled">
                                {{name}}
                              </a>
                            {{else}}
                              <a {{action "performAction" method}}>
                                {{name}}
                              </a>
                            {{/if}}
                          </li>
                        {{/if}}
                      {{/unless}}
                    {{/each}}
                  </ul>
                </div>
              </td>
            {{/with}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
