<div class="box box-success">
  <div class="box-header">
    <i class="fa fa-desktop"></i>
    <h3 class="box-title">Virtual Machines (Services)</h3>
  </div>
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Version</th>
          <th>Status</th>
          <th>API</th>
          <th class="actions-column show-when-expanded">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each}}
          <tr>
            <td>{{#link-to route}}{{name}}{{/link-to}}</td>
            <td>{{version}}</td>
            <td>{{stateDescription}}</td>
            <td>{{respondingMessage}}</td>
            <td class="actions-column show-when-expanded">
              {{#if isRunning}}
                <div class="btn-group">
                  <button {{action "reboot"}} type="button" class="btn btn-sm btn-success">Reboot</button>
                  <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a {{action "shutdown"}}>Shutdown</a></li>
                    <li><a {{action "forcedShutdown"}}>Force Shutdown</a></li>
                  </ul>
                </div>
              {{else}}
                {{#if isSaaAppliance}}
                  {{#if ipm.cluster}}
                    <button {{action "start"}} type="button" class="btn btn-sm btn-success">Start</button>
                  {{else}}
                    <div title="You must first attach the SAAappliance to a cluster before starting.">
                      <button type="button" class="btn btn-sm btn-success disabled">Start</button>
                    </div>
                  {{/if}}
                {{else}}
                  <button {{action "start"}} type="button" class="btn btn-sm btn-success">Start</button>
                {{/if}}
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
